<div id="page-talents">
    <div class="jumbotron header-cover">
        <div class="container">
            <h2><b>Equipment Attributes</b></h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a class="btn btn-gear-icon" ng-class="{'btn-div-primary': (vm.slot != 'Weapon'),   'btn-div-secondary': (vm.slot == 'Weapon')}" ng-click="vm.selectSlot('Weapon')">
                    <i class="gear-icon gear-icon-weapon"></i>
                </a>
                <a class="btn btn-gear-icon" ng-class="{'btn-div-primary': (vm.slot != 'Chest'),    'btn-div-secondary': (vm.slot == 'Chest')}" ng-click="vm.selectSlot('Chest')">
                    <i class="gear-icon gear-icon-chest"></i>
                </a>
                <a class="btn btn-gear-icon" ng-class="{'btn-div-primary': (vm.slot != 'Mask'),     'btn-div-secondary': (vm.slot == 'Mask')}" ng-click="vm.selectSlot('Mask')">
                    <i class="gear-icon gear-icon-mask"></i>
                </a>
                <a class="btn btn-gear-icon" ng-class="{'btn-div-primary': (vm.slot != 'Kneepads'), 'btn-div-secondary': (vm.slot == 'Kneepads')}" ng-click="vm.selectSlot('Kneepads')">
                    <i class="gear-icon gear-icon-kneepads"></i>
                </a>
                <a class="btn btn-gear-icon" ng-class="{'btn-div-primary': (vm.slot != 'Backpack'), 'btn-div-secondary': (vm.slot == 'Backpack')}" ng-click="vm.selectSlot('Backpack')">
                    <i class="gear-icon gear-icon-backpack"></i>
                </a>
                <a class="btn btn-gear-icon" ng-class="{'btn-div-primary': (vm.slot != 'Gloves'),   'btn-div-secondary': (vm.slot == 'Gloves')}" ng-click="vm.selectSlot('Gloves')">
                    <i class="gear-icon gear-icon-gloves"></i>
                </a>
                <a class="btn btn-gear-icon" ng-class="{'btn-div-primary': (vm.slot != 'Holster'),  'btn-div-secondary': (vm.slot == 'Holster')}" ng-click="vm.selectSlot('Holster')">
                    <i class="gear-icon gear-icon-holster"></i>
                </a>
            </div>
        </div>
        <br>
        <div class="row menu-box-height" ng-show="vm.slot && vm.slot == 'Weapon'">
            <div class="text-center"><h4>Available Talents</h4></div>
            <div class="col-md-6" ng-repeat="talent in vm.equipment.Weapon.Talents | orderBy:'name'">
                <div class="menu-box">
                    <div class="">
                        <span class="menu-box--type"><b>Talent</b></span>
                        <span><b>{{talent.name}}</b></span>
                    </div>
                    <div class="">
                        <span>{{talent.description}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row empty-message" ng-hide="vm.slot">
            <div class="col-md-12">
                Select an Equipment Slot above
            </div>
        </div>
        <div class="row" ng-show="vm.slot && vm.slot != 'Weapon'">
            <div class="col-md-6 col-md-push-6">
                <div class="text-center"><h4>Available Stats</h4></div>
                <div class="menu-box">
				    <div ng-show="vm.equipment[vm.slot].Base.List">
                        <div><span><b>Base Attribute(s)</b></span> <span class="menu-box--sidenote">(Can't be recalibrated)</span></div>
                        <div class="menu-box--stat" ng-repeat="stat in vm.equipment[vm.slot].Base.List">
                            <span ng-show="stat.low">+({{stat.low}}-{{stat.high}})</span>
                            <span>{{stat.name}}</span>
                        </div>
                    </div>
                    <div ng-show="vm.equipment[vm.slot].Primary.List">
                        <div><span><b>Primary Attributes</b></span> <span class="menu-box--sidenote">(Limit: {{vm.equipment[vm.slot].Primary.Limit}})</span></div>
                        <div class="menu-box--stat" ng-repeat="stat in vm.equipment[vm.slot].Primary.List">
                            <span ng-show="stat.low">+({{stat.low}}-{{stat.high}})</span>
                            <span>{{stat.name}}</span>
                        </div>
                    </div>
                    <div ng-show="vm.equipment[vm.slot].Major.List">
                        <div><span><b>Major Attributes</b></span> <span class="menu-box--sidenote">(Limit: {{vm.equipment[vm.slot].Major.Limit}})</span></div>
                        <div class="menu-box--stat" ng-repeat="stat in vm.equipment[vm.slot].Major.List">
                            <span ng-show="stat.low">+({{stat.low}}-{{stat.high}})</span>
                            <span>{{stat.name}}</span>
                        </div>
                    </div>
                    <div ng-show="vm.equipment[vm.slot].Minor.List">
                        <div><span><b>Minor Attributes</b></span> <span class="menu-box--sidenote">(Limit: {{vm.equipment[vm.slot].Minor.Limit}})</span></div>
                        <div class="menu-box--stat" ng-repeat="stat in vm.equipment[vm.slot].Minor.List">
                            <span ng-show="stat.low">+({{stat.low}}-{{stat.high}})</span>
                            <span>{{stat.name}}</span>
                        </div>
                    </div>
                    <div ng-show="vm.equipment[vm.slot].Skill.List">
                        <div><span><b>Skill Attributes</b></span> <span class="menu-box--sidenote">(Limit: {{vm.equipment[vm.slot].Skill.Limit}})</span></div>
                        <div class="menu-box--stat" ng-repeat="stat in vm.equipment[vm.slot].Skill.List">
                            <span ng-show="stat.low">+({{stat.low}}-{{stat.high}})</span>
                            <span>{{stat.name}}</span>
                        </div>
                    </div>
                    <div class="menu-box--footnote">
                        * Values above represent the available range for an item level 31 High End.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="text-center"><h4>Available Talents</h4></div>
                <div class="menu-box" ng-repeat="talent in vm.equipment[vm.slot].Talents | orderBy:'name'">
                    <div class="">
                        <span class="menu-box--type"><b>Talent</b></span>
                        <span><b>{{talent.name}}</b></span>
                    </div>
                    <div class="">
                        <span>{{talent.description}}</span>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>

</div>
