<div id="page-news">
    <div class="jumbotron header-cover">
        <div class="container">
            <h2><b>The Special Report - March 31st, 2016</b></h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Update 1.1 Incursions: Free Update ( April 12th, 2016 )</p>

                <br/>
                <h4>GEAR SCORE (ITEM LEVEL REMOVED) </h4>
                <ul>
                    <li>You will start to see this number next to the player in group, as level is quite pointless.</li>
                </ul>

                <br/>
                <h4>GEAR SETS:</h4>
                <ul>
                    <li>4 different gear sets ( 4 pieces each? )
                        <ul>
                            <li>Sentries Call ( Marksman Style ) - Promotes precision</li>
                            <li>Strikers Battle Gear ( Combat Assault Style ) - ??</li>
                            <li>Tacticians Authority ( Support Style ) - Support & Healing</li>
                            <li>Path of Nomad ( Link to Darkzone )</li>
                        </ul>
                    </li>
                    <li>Each item does not have a talent, you must collect multiple pieces to earn more powerful talents</li>
                    <li>Like "High End Plus", slightly more powerful than high end</li>
                    <li>quite rare (tough)</li>
                    <li>Found via Incusions, Challenge Mode, Blueprints, & Darkzone</li>
                </ul>

                <br/>
                <h4>TRADING: </h4>
                <ul>
                    <li>Only tradable to the group (and others nearby) for up to 2hrs after item first dropped</li>
                    <li>In darkzone you must be in a safearea ("gates") to trade</li>
                </ul>

                <br/>
                <h4>ASSIGNMENTS: </h4>
                <ul>
                    <li>Daily & Weekly</li>
                    <li>Found in map (don't need to talk to npc to obtain)</li>
                    <li>Rewards? PC, DivTech, other good stuff</li>
                    <li>Built more as a Achieve this Goal (not do task)</li>
                </ul>

                <br/>
                <h4>SUPPLY DROPS ADDED TO DARKZONE (NEW MECHANIC):</h4>
                <ul>
                    <li>A drop from the sky that happens roughly every hour that contains very good rewards</li>
                    <li>Protected by "tough" enemies</li>
                    <li>The first group to get there get the rewards (DONT NEED TO EXTRACT)</li>
                </ul>

                <br/>
                <h4>SPECTATOR CAMERA</h4>
                <ul>
                    <li>When you're dead, you can now spectate teammates.</li>
                    <li>Stuck to player, but can freely move the camera around</li>
                    <li>Switch between other players in group</li>
                </ul>

                <br/>
                <h4>INCURSION:</h4>
                <ul>
                    <li>Harder than challenge mode - designed for the best of the best</li>
                    <li>No Checkpoints, if you fails, you start over</li>
                    <li>Group Coordination is important, you need good tactics, loadouts need to synergize each other</li>
                    <li>Has TWO difficulties:
                        <ul>
                            <li>Hard Mode (Should have item level 31 before entering)</li>
                            <li>Challenging (Should have new gear sets before trying) (Took ubisoft QC guys a couple of days to first beat it)</li>
                        </ul>
                    </li>
                    <li>Even Better Rewards
                        <ul>
                            <li>Nice Weapon (New HE) & Gear Sets</li>
                            <li>Better than you can find anywhere else in-game right now</li>
                            <li>First time you complete it that week you get even better rewards</li>
                        </ul>
                    </li>
                    <li>You can matchmake, however challenge mode has a gear score requirement</li>
                    <li>First One: Falcon Lost (located south of Power Plant)
                        <ul>
                            <li>Underground inside of a Water Treatment Facility</li>
                            <li>Col Bliss is dead, but Cpt Perez is trying to rally the LMB together.  Your job is to go in and stop him</li>
                            <li>Destroy an APC (Vehicle) - You shoot it, you must destroy it by other means (multiple ways)</li>
                            <li>There are flying drones</li>
                        </ul>
                    </li>
                    <li>More Incursions to come (with even new mechanics, different factions)</li>
                </ul>
            </div>
        </div>
    </div>

    <footer id="footer">
        <p>Created By Michael Lynch (<a href="http://www.reddit.com/u/gamegenius86" target="_blank">/u/gamegenius86</a>)</p>
        <p><a href="https://www.paypal.me/yourfriend" target="">Buy me a beer!</a></p>
    </footer>
</div>
