body {
    /* for fixed header*/
    padding-top: 50px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h4 {
    font-weight: 300;
    font-size: 20px;
}
h5 {
    font-weight: 300;
    font-size: 16px;
}


/* Map */

#map-container {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.leaflet-container .leaflet-control-mouseposition {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #bbb;
    padding: 0 5px;
    margin:0;
    color: #333;
    font: 11px/1.5 'Titillium Web', sans-serif;
}

/* Map Sidebar */

#map-container #map-sidebar {
    position: absolute;
    top: 20px;
    right: 0px;
    bottom: 20px;
    width: 400px;
    z-index: 2000;
    color: #fff;
    pointer-events: none;
}

#map-sidebar #map-sidebar-content {
    position: absolute;
    right: 20px;
    height: 100%;
    width: 300px;
    transition: all 500ms;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: auto;
}

#map-sidebar.collapsed #map-sidebar-content {
    width: 0px;
    right: 0px;
}

#map-sidebar #map-sidebar-buttons {
    width: 30px;
    position: absolute;
    right: 340px;
    pointer-events: auto;
    transition: all 500ms;
}

#map-sidebar.collapsed #map-sidebar-buttons {
    right: 20px;
}

#map-sidebar #map-sidebar-buttons .btn-group-vertical + .btn-group-vertical{
    margin-top: 20px;
}
#map-sidebar #map-sidebar-buttons .btn{
    width: 36px;
    text-align: center;
}
#map-sidebar #map-sidebar-buttons.map-sidebar-force-right {
    right: 20px;
    transition: none;
}


#map-sidebar h4 {
    margin-top: 0px;
    color: orange;
}
#map-sidebar h4 small {
    float:right;
    padding-top: 5px;
}
#map-sidebar h5 {
    color: orange;
}
#map-sidebar p {
    color: #ccc;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

#map-sidebar .filter-item {
    line-height: 24px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
#map-sidebar .filter-item img { width: 24px; height: 24px; }
#map-sidebar .filter-item small { color: #999; font-style: italic; }

#map-sidebar .filter-item.disabled {
    text-decoration: line-through;
    opacity: 0.5;
}

#map-sidebar .sidebar-component {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border-top: 2px #6ec449 solid;
    border-right: 2px #555 solid;
    border-bottom: 2px #6ec449 solid;
    border-left: 2px #555 solid;
    background-color: rgba(60,60,60,0.9);
    pointer-events: auto;
}
#map-sidebar .sidebar-component:last-of-type {
    margin-bottom: 0px;
}

#map-sidebar .input-group {
    margin-bottom: 15px;
}
#map-sidebar .input-group .btn {
    background-color: orange;
}

#map-sidebar #map-sidebar-footer {
    font-size: 12px;
    text-align: center;
}
#map-sidebar #map-sidebar-footer a {
    color: #999;
}






/* Map Content */

#map-container #map-content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#map-container.map-pathing #map-content.leaflet-container{
    cursor: crosshair !important;
}

.leaflet-container {
    background: #19191b;
    background-image: url("/assets/img/grid.png");
}

.leaflet-marker-pane img {
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}
.leaflet-marker-pane img:hover {
    margin-left: -32px !important;
    margin-top: -32px !important;
    height: 64px !important;
    width: 64px !important;
    border: 6px solid;
    border-radius: 32px;
    border-color: rgba(252, 151, 13, 0.2);
    z-index: 10000 !important;
}

.leaflet-popup-content-wrapper {
  background:rgba(120, 120, 120, 0.2);
  color:#fff;
  font-family: 'Dosis', sans-serif;
  font-size:18px;
  pointer-events: none;
  border-radius: 0px;
}
.leaflet-popup-content{
    margin: 5px 10px;
}
.leaflet-popup-tip-container, .leaflet-popup-close-button {
  display: none;
}

/* Header */

.navbar {
    background-color: rgba(60,60,60,1);
    border-bottom: 2px #555 solid;
}

.navbar-fixed-top {
    z-index: 3000;
}

.navbar-right {
    margin-right: 0px;
}

.navbar .navbar-brand, .navbar .navbar-nav>li>a {
    font-weight: 500;
    color: #fff;
}

@media (min-width: 768px) {
    a.block-link, .navbar .navbar-nav > li > a.block-link {
        background: rgba(255,255,255,0.2);
        text-align: center;
        padding: 4px 20px;
        border-bottom: 2px transparent solid;
        color: #fff;
        text-decoration: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    a.block-link:hover, .navbar .navbar-nav > li > a.block-link:hover {
        background: rgba(255,255,255,0.4);
        cursor: pointer;
    }
    .navbar .navbar-nav > li > a.block-link {
        margin-top: 10px;
        margin-right: 10px;
        width: 120px;
    }
    a.block-link.active, .navbar .navbar-nav > li > a.block-link.active {
        border-bottom: 2px orange solid;
    }
}

/* Modal */

.modal-content {
    background-color: rgba(200,200,200,0.7);
    color: white;
    border-radius: 0px;
}
.modal-header {
    background-color: rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.modal-footer {
    /*background-color: rgba(255,255,255,0.2);*/
    /*border-top: 1px solid rgba(255,255,255,0.5);*/
    border-top: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.modal-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.modal-close {
    float: right;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.modal-close:hover {
    text-decoration: none;
}

/* Buttons */

.btn-div-secondary {
    color: white;
    background-color: #FF7606;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 4px 24px;
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-div-primary {
    color: white;
    background-color: #898989;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 4px 24px;
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-div-primary.active {
    border-bottom: 2px orange solid;
}


/* Other */

.jumbotron {
    padding-top: 18px;
    padding-bottom: 18px;
}


.jumbotron.header-cover {
}

#page-talents .header-cover, #page-news .header-cover {
    background: url(/assets/img/division-cover.jpg) no-repeat center center;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    color: #fff;
    border-bottom: 2px solid rgba(100,100,100,1);
}

.blog-snippet {
    border-bottom: 1px solid #ccc;
}
.blog-snippet + .blog-snippet {
    margin-top: 15px;
}
.blog-snippet--title {
    font-weight: bold;
}
.blog-snippet--meta {
    font-style: italic;
    color: #666;
}
.blog-snippet--content {
    padding: 15px;
}

#footer {
    margin-top: 20px;
    padding: 30px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}


/*  */

.menu-box {
    position: relative;
    background: url(/assets/img/highlight-blur-bg.jpg);
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
}
.menu-box::before {
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-left: 4px solid rgba(255,255,255,0.7);
    border-right: 4px solid rgba(255,255,255,0.7);
}
.menu-box::after {
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-left: 4px solid rgba(255,255,255,0.7);
    border-right: 4px solid rgba(255,255,255,0.7);
}
.menu-box div + div{
    margin-top: 4px;
}
.menu-box span {
    display: inline-block;
}
.menu-box--type {
    color: #F4B959;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid rgba(255,255,255,0.4);
}
.menu-box--stat {
    margin-left: 15px;
    font-size: 18px;
}
.menu-box--stat span:first-child {
    color: #F4B959;
}
.menu-box--footnote {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    color: rgba(255,255,255,0.8);
}
.menu-box--sidenote {
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}

@media (min-width: 992px) {
    .menu-box-height .menu-box {
        min-height: 136px;
    }
}

#page-talents {
    min-height: 800px;
}
.btn-gear-icon {
    padding: 10px;
    margin: 0 2px 4px 2px;
}
.gear-icon {
    width: 64px;
    height: 64px;
    background-image: url(/assets/img/gear-icons.png);
    background-repeat: no-repeat;
    display: block;
}
.gear-icon-weapon { background-position: 0 0; }
.gear-icon-chest { background-position: 0 -64px; }
.gear-icon-mask { background-position: 0 -128px; }
.gear-icon-kneepads { background-position: 0 -192px; }
.gear-icon-backpack { background-position: 0 -256px; }
.gear-icon-gloves { background-position: 0 -320px; }
.gear-icon-holster { background-position: 0 -384px; }

@media (max-width: 700px) {
    .gear-icon {
        zoom: .5;
    }
}

#page-talents .empty-message {
    min-height: 700px;
    padding-top: 200px;
}

.empty-message {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
}


/* Slider Customizations */
rzslider .rz-pointer{
    background-color: orange;
}
rzslider .rz-pointer.rz-active:after{
    background-color: white;
}
rzslider .rz-ticks .rz-tick .rz-tick-value {
    top: -35px;
    color: #ccc;
}


/* Icon */
#map-sidebar-buttons .tda-icon { margin: 2px 0 2px -2px; }
.tda-icon {
    width: 16px;
    height: 16px;
    background-image: url(/assets/img/division-icons.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}
.tda-icon.tda-path { background-position: 0 0; }
