<div id="page-home">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron header-cover">
        <div class="container">
            <h1>Hello Agent!</h1>
            <p>
                Welcome to The Division Agent! I've created this site for the sole purpose of providing
                the easiest to use tools for the game! New and exciting features are continuously added
                in order to stay ahead. I'd love to know what you think, so if there's something you'd
                like to see implemented on the site be sure to contact me!
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8">
                <h2>News & Information</h2>

                <div class="blog-snippet">
                    <div class="blog-snippet--title">
                        <a ui-sref="news({slug: 'special-report-3-31-16'})">The Division - Special Report - Incursions Update</a>
                    </div>
                    <div class="blog-snippet--meta">Posted: March 31st, 2016</div>
                    <div class="blog-snippet--content">
                        <p>NEW FEATURES</p>
                        <ul>
                            <li>Gear Sets</li>
                            <li>Trading</li>
                            <li>Assignments</li>
                            <li>Supply Drops added to darkzone (new mechanic)</li>
                            <li>Spectator Camera</li>
                            <li>Incursion</li>
                        </ul>
                    </div>
                </div>

                <div class="blog-snippet">
                    <div class="blog-snippet--title">
                        The Division - April 1, 2016 Maintenance
                    </div>
                    <div class="blog-snippet--meta">Posted: March 31st, 2016</div>
                    <div class="blog-snippet--content">
                        <p>GAMEPLAY</p>
                        <ul>
                            <li>Madison Field Hospital: The Elite NPC that spawns when Hutch is killed before jumping down from the roof will no longer drop additional loot when killed repeatedly</li>
                            <li>Missions: Named NPCs killed from outside the mission area will no longer drop additional loot when killed repeatedly</li>
                            <li>Fixed issues which could allow groups to bypass the limit of four members</li>
                        </ul>
                    </div>
                </div>

                <div class="blog-snippet">
                    <div class="blog-snippet--title">
                        <a ui-sref="news({slug: 'patch-notes-1-0-2'})">The Division - Patch Notes 1.0.2</a>
                    </div>
                    <div class="blog-snippet--meta">Posted: March 22nd, 2016</div>
                    <div class="blog-snippet--content">
                        <p>GAMEPLAY</p>
                        <ul>
                            <li>Named enemies will now drop better loot in Challenge mode than in Hard mode.</li>
                            <li>Added a cooldown period for the Static Turret stun attack in order to avoid a stunlock in PvP and PvE game modes.</li>
                            <li>Named NPCs will no longer respawn after being killed in the Open World. This will prevent situations where players were able to kill a same named NPC over and over again.</li>
                        </ul>
                        <p>Lots More...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Recent Updates:</h2>
                <p><b>March 29, 2016</b></p>
                <ul>
                    <li>Map markers are now scalable</li>
                    <li>Added instructions to path making</li>
                    <li>Added undo functionality to path making</li>
                    <li>Map location, zoom, marker filters, and marker scale are now remembered between sessions.</li>
                </ul>
                <p><b>March 26, 2016</b></p>
                <ul>
                    <li>Added News & Information</li>
                    <li>Added more enemies and lootables to the map</li>
                    <li>Added new page to display available attributes for each gear slot</li>
                </ul>
                <p><b>March 24, 2016</b></p>
                <ul>
                    <li>Performance optimizations</li>
                    <li>Faster load times</li>
                    <li>Map now has full screen button</li>
                    <li>Update default color for pathing</li>
                    <li>Added more enemies and lootables</li>
                </ul>
                <p><b>March 23, 2016</b></p>
                <ul>
                    <li>Mobile Friendly Version</li>
                    <li>Added more enemies, lootables, and subways</li>
                </ul>
                <p><b>March 22, 2016</b></p>
                <ul>
                    <li>Initial Release</li>
                    <li>Interactive Map w/ custom markers</li>
                    <li>Ability to create and share custom paths</li>
                </ul>
            </div>
        </div>
    </div>
    <footer id="footer">
        <p>Created By Michael Lynch (<a href="http://www.reddit.com/u/gamegenius86" target="_blank">/u/gamegenius86</a>)</p>
        <p><a href="https://www.paypal.me/yourfriend" target="">Buy me a beer!</a></p>
    </footer>
</div>
